@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
}

.grotesk {
    font-family: "Space Grotesk", sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

/* .modal-open {
    overflow: hidden;
} */

#swiper-color .swiper-button-next {
    color: #00BBE4;
}
#swiper-color .swiper-button-prev {
    color: #00BBE4;
}
.swiper-pagination-bullet-active {
    background-color: #00BBE4 !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;