@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
}

.grotesk {
    font-family: "Space Grotesk", sans-serif;
}



/* CSS */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;

}

.modal-open {
    overflow: hidden;

}




@tailwind base;
@tailwind components;
@tailwind utilities;